/*Define as variáveis globais que podem ser usadas em qualquer lugar do CSS*/
:root {
   --amarelo: #FFBE0B;
   --laranja: #FB5607;
   --azul: #3A86FF;
   --fundo: #FFFBF0;
   --texto: #1a1a1a;
}

nav{
    display: flex; /*coloca os filhos lado a lado*/
    align-items: center;/*espaço entre os links*/
    gap: 2%; /* espaçamento proporcional entre os filhos */
}

#menu ul{
    list-style: none;/* remove as bolinhas padrão da lista */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;/* espaço fixo entre cada item do menu */
    align-items: center;/* alinha os itens verticalmente ao centro */
    flex-wrap: nowrap; /*impede quebra de linha*/
}

#menu ul li a{
    color: var(--azul);
    text-decoration: none;/* remove o sublinhado padrão dos links */
    padding: 0.5em 1em;
    border-radius: 6px;/* arredonda os cantos do fundo ao passar o mouse */
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;/*impede quebra de linha*/
    transition: backgroud 0.2s, color 0.2s;/* animação suave ao passar o mouse */
}

/* Estiliza os links do menu quando o mouse passa por cima (hover) */
#menu ul li a:hover{
    background-color: var(--amarelo);/* fundo amarelo ao passar o mouse */
    color: var(--texto);
}

nav a {
    color: var(--azul);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--laranja);
}

body {
    background-color: var(--fundo);
    color: var(--texto);/*Define a cor padrão do texto da página*/
    font-family: Arial, sans-serif;/*Define a fonte padrão da página*/
    padding: 2% 4%;/* Espaçamento interno: 40px em cima/baixo e 20px nas laterais */
    max-width: 1600px; /* Limita a largura máxima do conteúdo a 800px */
    margin: 0 auto;
}

header{
    border-bottom: 4px solid var(--amarelo);/* linha amarela embaixo do header */
    padding-bottom: 2%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;/* empurra o título para a esquerda e o menu para a direita */
}

h1 {
    font-size: 3rem;/*Define o tamanho da fonte 3rem = 3x o tamanho padrão*/
    color: var(--laranja);
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 5%;
    padding: 2%;
    border-left: 4px solid var(--azul);
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
    color: var(--azul);
    margin-top: 0;
    margin-bottom: 2%;
}

p {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--texto);
    margin: 0;
}
