/*Define as variáveis globais que podem ser usadas em qualquer lugar do CSS*/
:root {
   --amarelo: #FFBE0B;
   --laranja: #FB5607;
   --azul: #3A86FF;
   --fundo: #FFFBF0;
   --texto: #1a1a1a;
}

nav{
    display: flex; /*coloca os filhos lado a lado*/
    gap: 40px;/*espaço entre os links*/
    margin-top: 12px;
}

nav a{
    color: var(--azul);
    text-decoration: none; /*remove o sublinhado padrão*/
    font-weight: bold;
}

nav a:hover{
    color: var(--laranja);
}

body {
    background-color: var(--fundo);
    color: var(--texto);/*Define a cor padrão do texto da página*/
    font-family: Arial, sans-sefif;/*Define a fonte padrão da página*/
    padding: 40px 20px;/* Espaçamento interno: 40px em cima/baixo e 20px nas laterais */
    max-width: 1600px; /* Limita a largura máxima do conteúdo a 800px */
    margin: 0 auto;
}

header{
    border-bottom: 4px solid var(--amarelo);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;/*Define o tamanho da fonte 3rem = 3x o tamanho padrão*/
    color: var(--laranja);
    margin: 0;
    padding: 0;
}

section{
    margin-bottom: 32px;
    padding: 16px;
    border-left: 4px solid var(--azul);
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
    color: var(--azul);
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--texto);
    margin: 0;
}