@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 20px;
}

.header-titulo {
    width: 100%;
    padding: 0 20px 10px 20px; 
    border-bottom: 2px solid #FFBE0B; 
    margin-bottom: 20px;
}

.titulo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FB5607;
    margin-bottom: 5px;
}

.subtitulo {
    font-size: 0.9rem;
    color: #666;
}

.top-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid rgba(54, 54, 54, 0.039);
    border-radius: 5px;
    color: #333;
    padding: 15px 10px; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow-x: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: stretch;
    min-height: 100vh; /*obriga o body ocupar toda a tela*/
    width: 100%;
    background: #FFFBF0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 6px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    font-size: 0.7rem;
}

/*limita o tamanho das colunas*/
td:nth-child(1) {
    width: 10%;
}

td:nth-child(2) {
    width: 35%;
}

td:nth-child(3) {
    width: 35%;
}

td:nth-child(4) {
    width: 20%;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

caption {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    text-align: center;
}

.acoes {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    gap: 6px;
    padding: 4px;
    font-size: 0;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.1s, opacity 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

.btn svg {
    width: 14px;
    height: 14px;
}


.editar {
    background: transparent;
    color: #3A86FF;
    border: 1px solid #3A86FF;
}

.editar:hover {
    background: #3A86FF;
    color: #fff;
}

.excluir {
    background: transparent;
    color: #FB5607;
    border: 1px solid #FB5607;
}

.excluir:hover {
    background: #FB5607;
    color: #fff;
}

.pesquisa {
    border: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.btn-adicionar {
    border: none;
    width: 100%;
    border-radius: 6px;
    padding: 6px;
    background-color: #FB5607;
    color: #fff;
}

.btn-adicionar:hover {
    background-color: #e14e05;
}

.btn-adicionar svg {
    width: 13px;
    height: 13px;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: flex-start; 
    gap: 12px;
}

.logo-area img {
    margin-top: 4px;
    width: 35px;
    height: 35px;
}

.textos {
    display: flex;
    flex-direction: column;
}